
<div class="header-perfil">
    <div class="container-fluid editar">
        <div class="row margin-top-20">
            <div class="col-xs-12 center">
                <i ng-click="btnVoltar()" id="btnVoltar" class="material-icons">
                        arrow_back
                </i>
                <h3><strong>Editar Perfil</strong></h3>
            </div>
        </div>

        <div class="row editar margin-top-20">
            <div class="col-xs-12 uploadFoto">
                <input id="fotoPerfil" type="file" name="arquivo" accept="image/png, image/jpeg">
                <label for="fotoPerfil">Selecione uma foto de perfil</label>
            </div>
        </div>
        
        <div class="row margin-top-20">
            <div class="col-xs-12">
                <label for="txNome">Nome</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txNome" placeholder="Primeiro Nome" maxlength="20" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="txNick">Nick</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txNick" placeholder="Apelido Gamer" autocomplete="off" maxlength="15">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="txSobrenome">Sobrenome</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txSobrenome" placeholder="Sobrenome" maxlength="20" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 no-padding-right">
                <label for="txIdade">Idade</label>
                <div class="form-group">
                    <input type="number" class="form-control" id="txIdade" placeholder="Sua Idade" autocomplete="off" maxlength="3" >
                </div>
            </div>
            <div class="col-xs-4 no-padding-right">
                <label for="txPais">País</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txPais" placeholder="Ex.: BR" maxlength="2" style="text-transform: uppercase;" autocomplete="off">
                </div>
            </div>
            <div class="col-xs-4">
                <label for="txEstado">Estado</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txEstado" placeholder="Ex.: SP" maxlength="2" style="text-transform: uppercase;" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="txIdioma1">Idioma 1</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txIdioma1" placeholder="Ex: PT-BR"  style="text-transform: uppercase;" autocomplete="off">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="txIdioma2">Idioma 2</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="txIdioma2" placeholder="Ex: EN-US" style="text-transform: uppercase;" autocomplete="off">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container body-perfil ">
    <div class="row">
        <div class="col-xs-12 center">
            <h3>Setup</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txCPU">CPU</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txCPU" placeholder="Identifique sua CPU" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txHD">HD</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txHD" placeholder="Identifique seu HD" autocomplete="off" maxlength="15">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txRAM">RAM</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txRAM" placeholder="Identifique sua memória RAM" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txGPU">Placa de Vídeo</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txGPU" placeholder="Identifique sua placa de vídeo" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txPlacaMae">Placa Mãe</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txPlacaMae" placeholder="Identifique sua placa mãe" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txMouse">Mouse</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txMouse" placeholder="Identifique seu mouse" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txTeclado">Teclado</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txTeclado" placeholder="Identifique seu teclado" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txMonitor">Monitor</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txMonitor" placeholder="Identifique seu monitor" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="txFone">Fone</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txFone" placeholder="Identifique seu fone" maxlength="20" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row editar">
        <div class="col-xs-12 center margin-top-40" style="line-height:1">
            <h3>Link Redes Socias</h3>
            <small>Informe apenas o nome de usuário referente a conta, nós as linkamos pra você.</small>
        </div>
    </div>
    <div class="row form-group margin-top-20">
        <div class="col-xs-2 center">    
            <div class="social-icons">     
                <a>
                    <i  class="fab fa-twitch"></i>
                </a>   
            </div>
        </div>
        <div class="col-xs-10">             
            <input type="text" class="form-control" id="txTwitch" placeholder="Ex.: riotgames" maxlength="30" autocomplete="off">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2 center">    
            <div class="social-icons">     
                <a>
                    <i class="fab fa-twitter"></i>
                </a>   
            </div>
        </div>
        <div class="col-xs-10">             
            <input type="text" class="form-control" id="txTwitter" placeholder="Ex.: profile (SEM @)" maxlength="30" autocomplete="off">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-2 center">    
            <div class="social-icons">     
                <a>
                    <i class="fab fa-youtube"></i>
                </a>   
            </div>
        </div>
        <div class="col-xs-10">             
            <input type="text" class="form-control" id="txYoutube" placeholder="Ex.: profile" maxlength="30" autocomplete="off">
        </div>
    </div>
    <div class="row form-group margin-bottom-40">
        <div class="col-xs-2 center">    
            <div class="social-icons">     
                <a>                    
                    <i class="fab fa-discord"></i>
                </a>   
            </div>
        </div>
        <div class="col-xs-10">             
            <input type="text" class="form-control" id="txDiscord" placeholder="Ex.: https://discord.gg/4P2Sfb" maxlength="30" autocomplete="off">
        </div>
    </div>
</div>
<div id="tabs-container">
    <div class="tabs-nav">
        <div class="tabs-1">
            League of Legends
        </div>
        <div onclick="aviso('Ainda não implementamos as funcionalidades do Counter-Strike: Global Offensivena nossa plataforma!<br>Continue ligado para mais informações.', 'Ops!', 'Entendi')" class="tabs-2">
            CS
        </div>
        <div onclick="aviso('Ainda não implementamos as funcionalidades do Dota 2 na nossa plataforma!<br>Continue ligado para mais informações.', 'Ops!', 'Entendi')" class="tabs-3">
            DOTA
        </div>
    </div>
</div>
<div class="container-fluid body-perfil">
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Vicule sua conta</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 editar center">
            <label for="txLOL">Insira o nick da sua conta no League of Legends</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txLOL" placeholder="Vazio" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Highlights</h2>
        </div>
    </div>
    <div class="row">
        <div class="videos-carousel">
            <div>
                <div class="video-container">
                    <span><i class="fas fa-play"></i></span>
                    <img src="images/jpg/demo_video.jpg" alt="">
                </div>
                <p>Lorem Título</p>
            </div>
            <div>
                <div class="video-container">
                    <span><i class="fas fa-play"></i></span>
                    <img src="images/jpg/demo_video.jpg" alt="">
                </div>
                <p>Lorem Título</p>
            </div>
            <div>
                <div class="video-container">
                    <span><i class="fas fa-play"></i></span>
                    <img src="images/jpg/demo_video.jpg" alt="">
                </div>
                <p>Lorem Título</p>
            </div>
            <div>
                <div class="video-container add">
                    <span><i class="fas fa-plus"></i></span>
                    <img src="images/jpg/demo_video.jpg" alt="">
                </div>
                <p>Adicionar Vídeo</p>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2>Time</h2>
        </div>
    </div>
    <div class="row editar margin-top-20">
        <div class="col-xs-12 uploadFoto">
            <input id="fotoTime" type="file" name="arquivo" accept="image/png, image/jpeg">
            <label for="fotoTime">Selecione o logo do seu Time</label>
        </div>
    </div>
    <div class="row editar margin-top-20">
        <div class="col-xs-12">
            <label for="txNomeTime">Nome</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txNomeTime" placeholder="Nome do seu Time" maxlength="30" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="txRegiaoTime">Região</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txRegiaoTime" placeholder="Região do Time" style="text-transform: uppercase;" maxlength="30" autocomplete="off">
            </div>
        </div>
        <div class="col-xs-6">
            <label for="txPosicaoTime">Sua posição</label>
            <div class="form-group">
                <select id="txPosicaoTime" class="form-control">
                    <option value="">Selecione a Lane</option>
                    <option value="top">Top Laner</option>
                    <option value="jungle">Jungler</option>
                    <option value="mid">Mid Laner</option>
                    <option value="bot">ADCarry</option>
                    <option value="sup">Support</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="txIdiomaTime">Idioma</label>
            <div class="form-group">
                <input type="text" class="form-control" id="txIdiomaTime" placeholder="Idioma Principal" style="text-transform: uppercase;" maxlength="30" autocomplete="off">
            </div>
        </div>
        <div class="col-xs-6">
            <label for="txPlayersTime">Numero de Players</label>
            <div class="form-group">
                <input type="text"  class="form-control" id="txPlayersTime" placeholder="De 1 a 5" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="offset-md-3 col-md-6">
            <button ng-click="salvarAlteracoes()" class="btn-verde">Salvar</button>
        </div>
    </div>
</div>