@font-face {
  font-family: 'Krub';
  src: url('fonts/Krub/Krub-Bold.eot');
  src: url('fonts/Krub/Krub-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Krub/Krub-Bold.woff2') format('woff2'), url('fonts/Krub/Krub-Bold.woff') format('woff'), url('fonts/Krub/Krub-Bold.ttf') format('truetype'), url('fonts/Krub/Krub-Bold.svg#Krub-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Krub';
  src: url('fonts/Krub/Krub-Medium.eot');
  src: url('fonts/Krub/Krub-Medium?#iefix') format('embedded-opentype'), url('fonts/Krub/Krub-Medium.woff2') format('woff2'), url('fonts/Krub/Krub-Medium.woff') format('woff'), url('fonts/Krub/Krub-Medium.ttf') format('truetype'), url('fonts/Krub/Krub-Medium.svg#Krub-Medium.eot') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #2d3052;
  color: #F4F4F4;
  padding-bottom: 100px;
  font-family: 'Krub', Sans-serif;
}
.margin-size {
  margin: 0 0 20px;
}
@media (max-width: 425px) {
  .margin-size {
    margin: 0 0 10px;
  }
}
h1 {
  color: #4E29A6;
  font-family: 'Krub', Sans-serif;
  margin: 0 0 20px;
}
@media (max-width: 425px) {
  h1 {
    margin: 0 0 10px;
  }
}
h1 > span {
  color: #00de81;
}
h2 {
  font-size: 26px;
  color: #F4F4F4;
  font-weight: bold;
  font-family: 'Krub', Sans-serif;
  margin: 0 0 20px;
}
@media (max-width: 425px) {
  h2 {
    margin: 0 0 10px;
  }
}
h3 {
  font-size: 24px;
  color: #F4F4F4;
  font-weight: normal;
  font-family: 'Krub', Sans-serif;
  margin: 0 0 20px;
}
@media (max-width: 425px) {
  h3 {
    margin: 0 0 10px;
  }
}
h4 {
  font-size: 20px;
  color: #F4F4F4;
  font-weight: bold;
  font-family: 'Krub', Sans-serif;
  margin: 0 0 20px;
}
@media (max-width: 425px) {
  h4 {
    margin: 0 0 10px;
  }
}
h5 {
  font-size: 18px;
  font-family: 'Krub', Sans-serif;
}
p {
  margin: 0 0 20px;
  font-family: 'Krub', Sans-serif;
}
@media (max-width: 425px) {
  p {
    margin: 0 0 10px;
  }
}
a {
  font-family: 'Krub', Sans-serif;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
}
.btn-padrao {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 20px;
  transition: color, background-color 0.3s;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  -moz-transition: color, background-color 0.3s;
}
.btn-verde {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 20px;
  transition: color, background-color 0.3s;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  -moz-transition: color, background-color 0.3s;
  border: 2px solid #00de81;
  color: #00de81;
  background-color: transparent;
}
.btn-verde i {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 11px;
}
.btn-verde:hover,
.btn-verde:focus {
  color: #2d3052;
  background-color: #00de81;
}
.btn-verde.xs {
  width: auto;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: normal;
}
.btn-verde.xs i {
  position: relative;
  top: auto;
  right: auto;
  font-size: 16px;
}
.btn-rosa {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 20px;
  transition: color, background-color 0.3s;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  -moz-transition: color, background-color 0.3s;
  border: 2px solid #ee61f2;
  color: #F4F4F4;
  background-color: #ee61f2;
}
.btn-rosa i {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 11px;
}
.btn-rosa:hover,
.btn-rosa:focus {
  color: #ee61f2;
  background-color: transparent;
}
.btn-branco {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 20px;
  transition: color, background-color 0.3s;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  -moz-transition: color, background-color 0.3s;
  border: 2px solid #F4F4F4;
  color: #F4F4F4;
  background-color: transparent;
}
.btn-branco i {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 11px;
}
.btn-branco:hover,
.btn-branco:focus {
  color: #F4F4F4;
  background-color: transparent;
}
.btn-branco.xs {
  width: 100%;
  padding: 6px 15px;
  font-size: 12px;
  font-weight: normal;
}
.btn-blank {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 20px;
  transition: color, background-color 0.3s;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  -moz-transition: color, background-color 0.3s;
  padding: 10px;
  width: auto;
  border: none;
  color: #F4F4F4;
  background-color: transparent;
  font-weight: normal;
}
.form-group {
  margin-bottom: 30px;
}
.form-control {
  display: block;
  width: 100%;
  height: 33px;
  padding: 6px 15px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #F4F4F4 !important;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
}
.form-control:focus {
  border-color: #00de81;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control.search {
  background: transparent url('../images/svg-icons/search.svg') left no-repeat;
  background-size: 16px 16px;
  padding: 0px;
  height: 22px;
  margin-top: 10px;
  padding-left: 21px;
  text-align: center;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F4F4F4 !important;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F4F4F4 !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #F4F4F4 !important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  color: #F4F4F4 !important;
}
.cb-blank {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 33px;
}
.cb-blank input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cb-blank .button {
  display: block;
  width: 100%;
  border: 2px solid #F4F4F4;
  height: 33px;
  padding: 6px 10px;
  border-radius: 20px;
  text-align: center;
}
.cb-blank input:checked ~ .button {
  background-color: #F4F4F4;
  color: #2d3052;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.margin-bottom-10 {
  margin-bottom: 10px!important;
}
.margin-bottom-20 {
  margin-bottom: 20px!important;
}
.margin-bottom-30 {
  margin-bottom: 30px!important;
}
.margin-bottom-40 {
  margin-bottom: 40px!important;
}
.margin-bottom-50 {
  margin-bottom: 50px!important;
}
.margin-top-10 {
  margin-top: 10px!important;
}
.margin-top-20 {
  margin-top: 20px!important;
}
.margin-top-30 {
  margin-top: 30px!important;
}
.margin-top-40 {
  margin-top: 40px!important;
}
.margin-top-50 {
  margin-top: 50px!important;
}
.margin-right-10 {
  margin-right: 10px!important;
}
.margin-right-20 {
  margin-right: 20px!important;
}
.margin-right-30 {
  margin-right: 30px!important;
}
.margin-right-40 {
  margin-right: 40px!important;
}
.margin-right-50 {
  margin-right: 50px!important;
}
.margin-left-10 {
  margin-left: 10px!important;
}
.margin-left-20 {
  margin-left: 20px!important;
}
.margin-left-30 {
  margin-left: 30px!important;
}
.margin-left-40 {
  margin-left: 40px!important;
}
.margin-left-50 {
  margin-left: 50px!important;
}
.padding-bottom-10 {
  padding-bottom: 10px!important;
}
.padding-bottom-20 {
  padding-bottom: 20px!important;
}
.padding-bottom-30 {
  padding-bottom: 30px!important;
}
.padding-bottom-40 {
  padding-bottom: 40px!important;
}
.padding-bottom-50 {
  padding-bottom: 50px!important;
}
.padding-top-10 {
  padding-top: 10px!important;
}
.padding-top-20 {
  padding-top: 20px!important;
}
.padding-top-30 {
  padding-top: 30px!important;
}
.padding-top-40 {
  padding-top: 40px!important;
}
.padding-top-50 {
  padding-top: 50px!important;
}
.padding-right-10 {
  padding-right: 10px!important;
}
.padding-right-20 {
  padding-right: 20px!important;
}
.padding-right-30 {
  padding-right: 30px!important;
}
.padding-right-40 {
  padding-right: 40px!important;
}
.padding-right-50 {
  padding-right: 50px!important;
}
.padding-left-10 {
  padding-left: 10px!important;
}
.padding-left-20 {
  padding-left: 20px!important;
}
.padding-left-30 {
  padding-left: 30px!important;
}
.padding-left-40 {
  padding-left: 40px!important;
}
.padding-left-50 {
  padding-left: 50px!important;
}
.w100 {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin {
  margin: 0;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.pf-grad-overlay {
  z-index: 99999999999999999999;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.pf-square {
  width: 80px;
  height: 80px;
  margin: 100px auto;
  transform: rotate(45deg);
  background: linear-gradient(313deg, rgba(0, 0, 0, 0.6), #7b48f7, #39D3F7);
  background-size: 600% 600%;
  border-radius: 20px;
  opacity: 1;
  -webkit-animation: ProfileGradient 2s ease infinite;
  -moz-animation: ProfileGradient 2s ease infinite;
  -o-animation: ProfileGradient 2s ease infinite;
  animation: ProfileGradient 2s ease infinite;
}
@-webkit-keyframes ProfileGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
    transform: rotate(135deg) scale(1.5);
    opacity: 0;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-moz-keyframes ProfileGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
    transform: rotate(135deg) scale(1.5);
    opacity: 0;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-o-keyframes ProfileGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
    transform: rotate(135deg) scale(1.5);
    opacity: 0;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes ProfileGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
    transform: rotate(135deg) scale(1.5);
    opacity: 0;
  }
  100% {
    background-position: 0% 10%;
  }
}
nav {
  z-index: 999999;
  background-color: #4E29A6;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  font-size: 10px;
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.25);
}
nav .container {
  height: 100%;
}
nav .container .row {
  height: 100%;
}
nav .container .row .col-xs-3 {
  height: 100%;
}
nav .d-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav .d-link a {
  color: #39d3f7;
}
nav .d-link .menu_icon {
  width: 25px;
  fill: #39d3f7;
}
nav .d-link.active {
  background-color: #39d3f7;
}
nav .d-link.active a {
  color: #4E29A6;
  text-decoration: none;
}
nav .d-link.active .menu_icon {
  fill: #4E29A6;
}
#overlay-logo {
  background-color: #39d3f7;
}
.login-modal {
  z-index: 999999999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d3052;
}
.login-modal #close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #8388C3;
  z-index: 9999;
  line-height: 1;
}
.login-modal .center {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}
.login-modal .top_nav {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 40px;
}
.login-modal .top_nav h3 {
  text-align: center;
  margin: 0;
}
.login-modal .top_nav h3 i {
  font-size: 24px;
  float: left;
}
.header-perfil {
  display: block;
  width: 100%;
  background: transparent url('../images/gradient-bg-perfil.svg') no-repeat top center;
  min-height: 75px;
  background-size: 100% auto;
  margin-bottom: 30px;
}
.header-perfil #nomeUsuario {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  margin-top: 40px;
}
@media (max-width: 321px) {
  .header-perfil #nomeUsuario {
    margin-top: 30px;
  }
}
.header-perfil .sobreUsuario {
  width: 100%;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 0;
}
.header-perfil .sobreUsuario #txIdade {
  float: left;
}
.header-perfil .sobreUsuario #txPais {
  float: right;
}
.body-perfil .social-icons {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  line-height: 1;
  float: right;
}
.body-perfil .social-icons a {
  margin-left: 5px;
  color: initial;
}
.body-perfil .social-icons a:first-child {
  margin-left: 0;
}
.body-perfil .social-icons a:hover {
  color: initial;
}
.body-perfil .social-icons a i.fa-twitch {
  color: #6441A4;
}
.body-perfil .social-icons a i.fa-twitter {
  color: #08A0E9;
}
.body-perfil .social-icons a i.fa-youtube {
  color: #E62117;
}
.body-perfil .social-icons a i.fa-discord {
  color: #7289DA;
}
#tabs-container .tabs-nav {
  text-align: center;
}
#tabs-container .tabs-nav:after {
  clear: both;
  display: table;
  content: " ";
}
#tabs-container .tabs-nav [class*="tabs-"] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-bottom: 8px;
  border-bottom: 2px solid;
}
#tabs-container .tabs-nav .tabs-1 {
  width: 50%;
  border-color: #00de81;
  color: #00de81;
}
#tabs-container .tabs-nav .tabs-2,
#tabs-container .tabs-nav .tabs-3 {
  width: 25%;
  border-color: #8388C3;
  color: #8388C3;
}
.progressbar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  font-size: 16px;
  color: #F4F4F4 !important;
}
.progressbar-text img {
  max-width: 30px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 10px;
}
.lol-infos {
  line-height: 1;
}
.lol-infos h2 {
  margin-bottom: 3px;
}
.lol-infos h3 {
  font-size: 22px;
  margin-bottom: 3px;
}
.lol-infos .kdalp p {
  color: #39d3f7;
  font-size: 16px;
  margin-bottom: 3px;
}
.lol-infos .winLoses p {
  margin-bottom: 0;
  font-size: 16px;
}
.lol-infos .winLoses p.v {
  color: #00de81;
}
.lol-infos .winLoses p.d {
  color: #ee61f2;
}
.stats-box img {
  max-width: 50px;
}
.stats-box p {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1;
}
.stats-box h2 {
  margin: 0;
  line-height: 1;
}
.stats-box h5 {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
}
.videos-carousel .slick-slide {
  margin-right: 20px;
}
.videos-carousel .slick-slide .video-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.videos-carousel .slick-slide .video-container span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(34, 36, 61, 0.3);
  width: 100%;
  height: 100%;
}
.videos-carousel .slick-slide .video-container span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  font-size: 40px;
}
.videos-carousel .slick-slide p {
  margin: 10px 0 0;
  text-align: center;
}
.header-pesquisar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  background: transparent url('../images/gradient-bg-hg.svg') no-repeat top center;
  min-height: 140px;
  background-size: 100% auto;
  margin-bottom: 30px;
  z-index: 99999;
}
@media (max-width: 375px) {
  .header-pesquisar {
    background-size: 115% auto;
  }
}
@media (max-width: 321px) {
  .header-pesquisar {
    background-size: 130% auto;
  }
}
.header-pesquisar .form-control.search {
  padding: 8px 20px;
  height: 38px;
  text-align: left;
  padding-left: 36px;
  background-position-x: 15px;
  display: inline-block;
}
.header-pesquisar .btn-blank {
  position: absolute;
  top: 8px;
  right: 15px;
  z-index: 10;
}
.header-pesquisar .btn-blank i {
  font-size: 18px;
}
.header-pesquisar #filtros-pesquisar {
  padding-bottom: 24px;
}
.header-pesquisar #filtros-pesquisar .slick-slide {
  margin-left: 20px;
}
.body-pesquisar {
  padding-top: 170px;
}
.body-pesquisar .perfil-box {
  background-color: #242642;
  padding: 10px 0;
  line-height: 1.2;
  margin-bottom: 40px;
}
.body-pesquisar .perfil-box .nick_u {
  margin: 0;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.body-pesquisar .perfil-box p {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  font-size: 12px;
}
.body-pesquisar .perfil-box p span.idade_u {
  margin-right: 10px;
}
.body-pesquisar .perfil-box small {
  font-size: 10px;
  color: #8388C3;
}
.body-pesquisar .perfil-box .jogos_i {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.body-pesquisar .perfil-box .jogos_i div {
  display: table-cell;
  text-align: center;
}
.body-pesquisar .perfil-box .lanes {
  display: table;
}
.body-pesquisar .perfil-box .lanes div {
  display: table-cell;
  text-align: center;
}
.body-pesquisar .perfil-box .lanes div:first-child {
  padding-right: 5px;
}
.body-pesquisar .perfil-box .lanes div:last-child {
  padding-left: 5px;
}
.body-pesquisar .perfil-box .lanes div img {
  max-width: 25px;
}
.body-pesquisar .perfil-box .table_u {
  display: table;
  width: 100%;
}
.body-pesquisar .perfil-box .table_u div {
  display: table-cell;
}
.body-pesquisar .perfil-box .table_u div:first-child {
  padding-right: 5px;
}
.body-pesquisar .perfil-box .table_u div:last-child {
  padding-left: 5px;
}
.body-pesquisar .perfil-box .divisao,
.body-pesquisar .perfil-box .servidor {
  margin-bottom: 0;
}
