
// -------------------------------------------------------
// CORE (Configurações básicas do projeto)
// -------------------------------------------------------
@screen-xs: 480px; // Extra small screen
@screen-sm: 768px; // Small screen
@screen-md: 992px; // Medium screen
@screen-lg: 1200px; // Large screen
@screen-xlg: 1600px; // Extra Large screen
@screen-xxlg: 1900px; // Extra Large screen
@bg-1: '';
@bg-2: '';
@bg-3: '';
//CORES
@white-1: #F4F4F4;
@azul-1: #39d3f7;
@azul-2: #2d3052;
@azul-3: #8388C3;
@roxo-1: #4E29A6;
@rosa-1: #ee61f2;
@verde-1: #00de81;
@space: 20px; // Regular space margin
@space-xs: (@space / 3); // Extra small space margin
@space-sm: (@space / 2); // Small space margin
@space-md: (@space * 2); // Medium space margin
@space-lg: (@space * 4); // Large space margin
@font-1: 'Open Sans', Sans-serif;

// NORMALIZE
*{
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}
  
ul {
    list-style: none;
}