//-- GLOBAL
//---- scaffolding (html, body)

body{
    // padding: 60px 0;
    background-color: @azul-2;
    color: #E9E9E9;
    @media(max-width: 768px){
    }
}

.margin-size{
    margin: 0 0 @space;

    @media(max-width: 425px) {
        margin: 0 0 @space-sm;
    }
}

h1{
    color: @roxo-1;
    .margin-size;
    @media(max-width: 425px) {
    }
    &>span{       
        color: @verde-1;
    }
}
h2{
    .margin-size;
    @media(max-width: 425px) {
    }
}

h3{
    @media(max-width: 425px) {
    }
    .margin-size;
}

h4{
    .margin-size;
    @media(max-width: 425px) {
    }
}

p {
    .margin-size;
}