nav{
    z-index: 999999;
    background-color: @roxo-1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    a{
        color: @verde-1;
        &:hover{
            color: @verde-1;
            filter: saturate(200%);
        }
    }
}