nav{
    z-index: 999999;
    background-color: @roxo-1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    a{
        color: @verde-1;
        &:hover, &:active, &:focus{
            color: @verde-1;
            filter: saturate(200%);
        }
    }
}