.header-perfil{
    display: block;
    width: 100%;
    background: transparent url('../images/gradient-bg-perfil.svg') no-repeat top center;
    min-height: 75px;
    background-size: 100% auto;
    margin-bottom: 30px;

    #nomeUsuario{
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        margin-bottom: 8px;
        margin-top: 40px;
        @media (max-width: 321px) {
            margin-top: 30px;
        }
    }
    .sobreUsuario{
        width: 100%;
        display: inline-block;
        font-size: 13px;
        margin-bottom: 0;
        #txIdade{
            float: left;
        }
        #txPais{
            float: right;
        }
    }
    #btn-editar{
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        color: @azul-1;
        font-size: 16px;
        line-height: 0;
        position: relative;
        top: -13px;
        padding: 5px 5px 5px 0;
    }
}
.body-perfil{
    .social-icons{
        display: inline-block;
        font-size: 30px;
        vertical-align: middle;
        line-height: 1;
        float: right;
        a{
            margin-left: 5px;
            &:first-child{
                margin-left: 0;
            }
            color: initial;
            &:hover{
                color: initial;
            }
            i.fa-twitch{
                color: #6441A4;
            }
            i.fa-twitter{
                color: #08A0E9
            }
            i.fa-youtube{
                color: #E62117
            }
            i.fa-discord{
                color: #7289DA; 
            }
        }
    }
}

#tabs-container{
    .tabs-nav{
        text-align: center;
       &:after{
            clear: both;
            display: table;
            content: " ";
        }
        [class*="tabs-"]{
            float: left;
            position: relative;
            min-height: 1px;
            padding-bottom: 8px;
            border-bottom: 2px solid;
        }
        .tabs-1{
            width: 50%;
            border-color: @verde-1;
            color: @verde-1;
        }
        .tabs-2,.tabs-3{
            width: 25%;
            border-color: @azul-3;
            color: @azul-3;
        }
    }
}

.progressbar-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-size: 16px;
    color: @white-1 !important;
    img{
        max-width: 30px;
        display: block;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.lol-infos{
    line-height: 1;
    h2{
        margin-bottom: 3px;
    }
    h3{
        font-size: 22px;
        margin-bottom: 3px;
    }
    .kdalp{
        p{
            color: @azul-1;
            font-size: 16px;
            margin-bottom: 3px;
        }
    }
    .winLoses{
        p{
            margin-bottom: 0;
            font-size: 16px;
            &.v{
                color: @verde-1;
            }
            &.d{
                color: @rosa-1;
            }
        }
    }
}

.stats-box{
    img{
        max-width: 50px;
    }
    p{
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 1;
    }
    h2{
        margin: 0;
        line-height: 1;
    }
    h5{
        margin: 0;
        line-height: 1;
        font-size: 16px;
        font-weight: bold;
    }
}

.videos-carousel{
    .slick-slide{
        margin: 0 20px;
        .video-container{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.30);
            span{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                background: rgba(34,36,61, 0.30);
                width: 100%;
                height: 100%;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    line-height: 1;
                    font-size: 40px;
                }
            }
        }
        p{
            margin: 10px 0 0;
            text-align: center;
        }
    }
}

.time-info{
    line-height: 1;
    font-weight: bold;
    h5{
        text-align: left;
        font-weight: bold;
    }
    .col-xs-9{
        p{
            color: @azul-3;
        }
        span{
            color: @white-1;
        }
    }
    #txPosicaoTime{
        max-width: 16px;
        display: inline-block;
        vertical-align: middle;
    }
}

// EDITAR PERFIL


.videos-carousel{
    .slick-slide{
        .video-container.add{
            box-shadow: 0px 0px 20px rgba(0, 222, 129, 0.30);
        }
    }
}
.header-perfil{
    .tituloEditar{
        height: 32px;
        vertical-align: middle;
        line-height: 32px;
        text-align: center;
    }
}