.header-pesquisar{
    display: block;
    width: 100%;
    background: transparent url('../images/gradient-bg-hg.svg') no-repeat top center;
    min-height: 140px;
    background-size: 100% auto;
    margin-bottom: 30px;
    .form-control.search{
        padding: 8px 20px;
        height: 38px;
        text-align: left;
        padding-left: 36px;
        background-position-x:15px;
        display: inline-block;
    }
    .btn-blank{
        position: absolute;
        top: 8px;
        right: 15px;
        z-index: 10;
        i{
            font-size: 18px;
        }
    }
    .filtros-pesquisar{
        
        .slick-slide{
            margin-left: 20px;
        }
    }
}