<div class="header-participe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <i ng-click="btnVoltar()" class="material-icons">
                    arrow_back
                </i>
                <h4>PARTICIPE</h4>
            </div>
        </div>
    </div>
</div>
<div class="body-participe">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>Enquetes</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding-right">           
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="enquete-slick">
            <div>
                <div class="enquete-box">
                    <p>Lorem Lorem Lorem Lorem?</p>
                </div>
                <button class="btn-voltar">VOTAR</button>
            </div>
            <div>
                <div class="enquete-box">
                    <p>Lorem Lorem Lorem Lorem?</p>
                </div>
                <button class="btn-voltar">VOTAR</button>
            </div>
            <div>
                <div class="enquete-box">
                    <p>Lorem Lorem Lorem Lorem?</p>
                </div>
                <button class="btn-voltar">VOTAR</button>
            </div>
            <div>
                <div class="enquete-box">
                    <p>Lorem Lorem Lorem Lorem?</p>
                </div>
                <button class="btn-voltar">VOTAR</button>
            </div>
            <div>
                <div class="enquete-box">
                    <p>Lorem Lorem Lorem Lorem?</p>
                </div>
                <button class="btn-voltar">VOTAR</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin-top-30">
            <div class="col-xs-12">
                <h4>Perguntas</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 perguntas">
                    <input type="text" placeholder="Enviar Perguntas" class="form-control">
                    <button class="btn-blank">
                            <i class="material-icons">send</i>
                    </button>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-xs-12">
                <h4>Redes Sociais</h4>
            </div>
        </div>
    </div>
</div>