<div class="header-reviews">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <i ng-click="btnVoltar()" class="material-icons">
                    arrow_back
                </i>
                <h4>REVIEWS</h4>
            </div>
        </div>
    </div>
</div>
<div class="body-reviews">
    <div class="container-fluid no-padding-right">
        <div class="row">
            <div class="col-xs-12">
                <h3>Se tornando PRO</h3>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="carrousel-reviews">
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-xs-12">
                <h3>Produtor de Conteúdo</h3>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="carrousel-reviews">
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div data-aos="fade-left"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12">
                <h3>Custo-benefício</h3>
                <div class="carrousel-reviews">
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>