<div class="header-reviews">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <i ng-click="btnVoltar()" class="material-icons">
                    arrow_back
                </i>
                <h4>REVIEWS</h4>
            </div>
        </div>
    </div>
</div>
<div class="body-reviews">
    <div class="container-fluid no-padding-right">
        <div class="row">
            <div class="col-xs-12">
                <h3>Se tornando PRO</h3>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="carrousel-reviews">
                    <div ng-click="abrirReview()">
                        <img src="images/jpg/noticias_hyperx.jpg" alt="">
                        <p>REVIEW HYPERX CLOUD STINGER</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-xs-12">
                <h3>Produtor de Conteúdo</h3>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="carrousel-reviews">
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-30">
            <div data-aos="fade-left"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12">
                <h3>Custo-benefício</h3>
                <div class="carrousel-reviews">
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                    <div>
                        <img src="images/jpg/demo_reviews.jpg" alt="">
                        <p>Titulo Titulo Titulo Titulo Titulo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Reviews1" class="overlay-noticia hidden">
    <div class="m_content">
        <h3 id="titulo_n">REVIEW HYPERX CLOUD STINGER</h3>
        <h5>Headset da HyperX agrada com preço acessível e performance potente.</h5>
        <hr>
        <p>O HyperX Cloud Stinger é o headset com a promessa de ser ideal para quem deseja equilibrar preço e especificações de qualidade. Custando R$ 349, o fone de ouvido gamer chega com fama de barato, principalmente ao considerar a potência do som, o design elegante e as funções extras, que servem para adaptar melhor o acessório ao formato da cabeça do usuário. No review do TechTudo, você pode conferir uma avaliação completa do dispositivo, que tem lançamento no Brasil em outubro.</p>
        <h5>Design e conforto</h5>
        <p>Apesar disso, o Cloud Stinger não perde muito em conforto. O contato da orelha com as conchas é bem agradável, sem pressionar ou incomodar o ouvido, mesmo depois de algumas horas com o gadget. Isso acontece também graças ao sistema memory foam, que traz espuma de alta qualidade, exclusiva da fabricante e capaz de “memorizar” a anatomia da sua orelha. Com isso, depois de alguns dias de uso, o headset consegue aderir melhor ao formato da sua cabeça.</p>
        <p>Tanto o tamanho do headset como o comprimento do cabo são bons, com peso de 275 g e 1,3 m, respectivamente. Para guardar o Cloud Stinger na mochila, você, provavelmente, não terá muito trabalho, até porque o aparelho gira em ângulo de 90 graus, o que permite ocupar menos espaço, além de contar com um microfone firme, não destacável, que fica preso a uma das alças. </p>
        <p>Um dos poucos pontos negativos no design do HyperX Cloud Stinger é a posição dos botões de controle, como o de volume, que não estão posicionados em um local intuitivo, e pode tomar algum tempo até que o usuário se acostume a encontrar as teclas rapidamente.  </p>
        <h5>Qualidade do som e microfone</h5>
        <p>A estrutura anatômica do headset, consequentemente, contribui para o desempenho do som, diminuindo ruídos externos e melhorando a definição do áudio que sai das conchas auriculares.</p>
        <p>Na  ficha técnica, o HyperX Cloud Stinger chega com drivers direcionais de 50 mm, para maior precisão do áudio, resposta de frequência de 18 Hz - 23 Hz, impedância de 30 Ω, além de potência de 30 mW a 500mW (máxima). Essas especificações se traduzem, no dia a dia, como um fone que alcança um volume alto sem perder a definição do áudio.  </p>
        <p>O Cloud Stinger tem sons graves bem marcados, o que ajuda a criar uma atmosfera que envolve a audição do usuário. Por exemplo, a experiência com games fica muito mais imersiva, uma vez que sons como músicas, detalhes nos cenários, passos e respiração de personagens ficam mais realistas.</p>
        <p>Mesmo com músicas, o headset gamer oferece som de alta definição. Com isso, sintetizadores, tambores e outros sons com variações mais graves ganham um peso interessante na reprodução de faixas. No entanto, para ouvir músicas, o volume do acessório precisa ser aumentado, para garantir que detalhes sejam reproduzidos com precisão, ou seja, caso você queira somente ouvir canções, o Cloud Stinger tem "rivais" de preço mais baixo que devem se sair melhor na função.</p>
        <p>Em  ligações pelo Skype ou Facebook, o desempenho do microfone do headset não impressiona, mas também não desagrada. O som sai bem nítido e com poucos ruídos externos. Com isso, para quem joga games online que precisam de comunicação entre os jogadores, o acessório cumpre o que promete.</p>
        <h5>Funções extras</h5>
        <p>Mesmo como uma proposta mais básica da fabricante, o Cloud Stinger tem alguns extras. O headset pode ser usado em celulares, tablets, PC e consoles (com o adaptador incluso na caixa). Além disso, o acessório conta com conchas dobráveis e saída de som direcional, o que permite ao aparelho entregar um áudio mais preciso.</p>
        <h5>Vale a pena comprar? </h5>
        <p>Para quem tem dúvidas sobre investir no HyperX Cloud Stinger, a notícia é boa. O headset tem custo-benefício vantajoso, justamente por unir o preço abaixo da média com um produto acima da média. Isso, é claro, considerando um fone de ouvido na mesma faixa de valor.</p>
        <p>Por ser um dispositivo gamer - fatia de mercado com muitos preços salgados - e contar com características encontradas em modelos de alto nível, os R$ 349 cobrados pela HyperX valem a pena. No entanto, para ouvir música apenas, os consumidores podem encontrar opções mais baratas e tão competentes quanto o Cloud Stinger. </p>
        <img src="http://s2.glbimg.com/QbPHe_VfgNgXDweW-089Mmmj9M8=/0x0:700x579/695x575/s.glbimg.com/po/tt2/f/original/2016/10/24/hyperx_cloud_stinger.jpg" alt="Img Techtudo">
        <small>Fonte: Matéria por Bruno Capelas - O Estado de S. Paulo - 31/05/2017 | 05h00</small>
        <button ng-click="fecharReview()" class="btn-rosa margin-top-20">Fechar</button>
    </div>      

</div>