<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div ng-click="participe()" class="explorar_c participe background-zoom">
                <div class="row padding-top-50">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn-branco hover">
                            Participe
                            <i class="material-icons">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-click="noticias()" class="explorar_c noticias background-zoom">
                <div class="row padding-top-50">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn-branco hover">
                            Notícias
                            <i class="material-icons">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-click="reviews()" class="explorar_c reviews background-zoom">
                <div class="row padding-top-50">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn-branco hover">
                            Reviews
                            <i class="material-icons">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>