<div class="body-ladding">
    <div class="banner-topo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <button ng-click="btnRegistrar()" class="btn-gradient">
                        Registrar-se
                    </button>
                </div>
            </div>
            <div class="row margin-top-30">
                <div class="col-xs-6 col-xs-offset-3">
                    <img src="images/logo_h.svg" alt="Logo Horizontal">
                </div>
            </div>
            <div class="row margin-top-40">
                <div id="btnSaibaMais" class="col-xs-12 saiba-mais">
                    <p>saiba mais</p>
                    <i class="material-icons">
                        arrow_drop_down
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div id="tgtImg" class="c-infografico">
        <div data-aos="fade-down"
        data-aos-easing="ease-in"
        data-aos-duration="300"  class="img-1">
            <img src="images/jpg/lp/info_1.jpg" alt="Info_1">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 center">
                    <p data-aos="fade-up"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">ProFile possui a premissa de ajudar você a adentrar nesse mundo dos eSports. Se você já está familiarizado ótimo pode pular os vídeos tutoriais.</p>
                    <p data-aos="fade-up"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Basicamente os primeiros são apenas uma introdução à tudo o que relacionado ao termo “Pro Player” nos episódios mais avançados temos dicas de como melhorar sua mecânica e maneiras mais efetivas de treinar e como fazê-lo.</p>
                    <p data-aos="fade-up"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Inicialmente começaremos apenas com o League Of Legends mas posteriormente daremos andamento com os conteúdos de CS:GO e Dota 2.</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="img-2">
            <img src="images/jpg/lp/info_2.jpg" alt="Info_2">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 left">
                    <p data-aos="fade-right"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Nós da ProFile contamos com uma série de vídeos que contribuem para seu crescimento como gamer, passando algumas dicas inspiradas em opiniões de jogadores presentes no cenário profissional.</p>
                    <p data-aos="fade-right"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Também ajudamos você na escolha do equipamento para montar o seu computador. Ele não necessariamente precisa ser o mais caro, mas precisa conter os componentes específicos pra possibilitar que você alcance suas metas com seu jogo.</p>
                    <p data-aos="fade-right"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Um dos nossos vídeos explica melhor o que se adapta melhor com cada modalidade e explicamos algumas configurações in-game pra ajudar e melhorar o desempenho da sua máquina ;D</p>
                </div>
            </div>
        </div>
        <div class="img-3">
            <img  data-aos="fade-right"
            data-aos-easing="ease-in"
            data-aos-duration="300" src="images/jpg/lp/info_3.jpg" alt="Info_3">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 right">
                    <p data-aos="fade-left"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Damos acesso rápido e fácil pra você sobre as informações que você mais precisa através do nosso Web App.</p>
                    <p data-aos="fade-left"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Temos uma área dedicada para enquetes e também um espaço onde você pode enviar perguntas diretamente pra nós, e assim conseguimos te ajudar com algumas dúvidas pessoais.</p>
                    <p data-aos="fade-left"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Encontre jogadores e entre em contato com eles. Conheça novas pessoas atráves da nossa plataforma.</p>
                </div>
            </div>
        </div>
        <div class="img-4">
            <img data-aos="fade-down"
            data-aos-easing="ease-in"
            data-aos-duration="300" src="images/jpg/lp/info_4.jpg" alt="Info_4">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 center">
                    <p data-aos="fade-up"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Temos uma parte dedicada ao seu portfólio gamer,uma maneira inteligente e interessante de expor seu espaço próprio para quem procura uma carreira séria no mundo dos eSports!</p>
                    <p data-aos="fade-up"
                    data-aos-easing="ease-in"
                    data-aos-duration="300">Uma ideia inovadora que vem com a intenção de profissionalizar o ramo dos eSports e facilitar a maneira como os jogadores são encontrados.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row margin-top-20 margin-bottom-40">
            <div class="col-xs-8 col-xs-offset-2">
                <button onclick="window.location.href = '#/'" class="btn-gradient">
                    Torne-se PRO
                </button>
            </div>
        </div>
    </div>
</div>