
<div class="header-perfil">
    <div class="container-fluid">
        <div class="row">
            <div ng-click="abrirPesquisar()" class="col-xs-6 col-xs-offset-3">
                <input type="text" class="form-control search" placeholder="Pesquisar" disabled>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <img src="images/svg-icons/perfil_padrao.svg" alt="">
                <button id="btn-editar">
                    <i ng-click="editarPerfil()" class="far fa-edit"></i>
                </button>
            </div>
            <div class="col-xs-8">
                   <h4 id="nomeUsuario">Nome Lorem Ipsum</h4>
                   <p class="sobreUsuario"><span id="txIdade">20 anos</span> <span id="txPais">BR - SP</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container body-perfil">
    <div class="row margin-bottom-40">
        <div class="col-xs-12">
            <button class="btn-verde xs">
                    <i class="fas fa-cog"></i> Setup
            </button>
            <div class="social-icons">
                <a id="linkTwitch" href="">
                        <i class="fab fa-twitch"></i>
                </a>
                <a id="linkTwitter" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a id="linkYoutube" href="">
                    <i class="fab fa-youtube"></i>
                </a>
                <a id="linkDiscord" href="">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="tabs-container">
    <div class="tabs-nav">
        <div class="tabs-1">
            League of Legends
        </div>
        <div onclick="aviso('Ainda não implementamos as funcionalidades do Counter-Strike: Global Offensive na nossa plataforma!<br>Continue ligado para mais informações.', 'Ops!', 'Entendi')" class="tabs-2">
            CS
        </div>
        <div onclick="aviso('Ainda não implementamos as funcionalidades do Dota 2 na nossa plataforma!<br>Continue ligado para mais informações.', 'Ops!', 'Entendi')" class="tabs-3">
            DOTA
        </div>
    </div>
</div>
<div class="container-fluid body-perfil">
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Principais Posições</h2>
            <div class="row">
                <div class="col-xs-6">
                    <div data-aos="fade-right"
                    data-aos-easing="ease-in"
                    data-aos-duration="300" id="graphPosicao1">
                    </div>
                </div>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300"
                 class="col-xs-6">
                    <div id="graphPosicao2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Ranqueada Solo/Duo</h2>
        </div>
    </div>
    <div class="row">
        <div data-aos="fade-right"
        data-aos-easing="ease-in"
        data-aos-duration="300"  class="col-xs-4 no-padding">
            <img src="images/tier-icons/bronze_v.png" alt="">
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-8 lol-infos">
            <h2 id="nickLol">NickPlayer</h2>
            <h3 id="ligaLol">Bronze V</h3>
            <div class="row kdalp">
                <div class="col-xs-6 left">
                    <p>0.60 KDA</p>
                </div>
                <div class="col-xs-6 right">
                    <p>420 LP</p>
                </div>
            </div>
            <div class="row winLoses">
                <div class="col-xs-6 left">
                    <p class="v">134 V</p>
                </div>
                <div class="col-xs-6 right">
                    <p class="d">643 D</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Estatísticas</h2>
        </div>
    </div>
    <div class="row">
        <div data-aos="fade-right"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_taxavitoria.svg" alt="">
            <p>Taxa de Vitória</p>
            <h2>43%</h2>
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_partidasjogadas.svg" alt="">
            <p>Partidas Jogadas</p>
            <h2>654</h2>
        </div>
    </div>
    <div class="row margin-top-20">
        <div data-aos="fade-right"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_ama.svg" alt="">
            <p>A.M.A</p>
            <h5>1322 / 4503 / 6023</h5>
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_taxaama.svg" alt="">
            <p>Taxa A.M.A</p>
            <h2>1.65</h2>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Highlights</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div data-aos="fade-left"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="videos-carousel">
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center time-info">
            <h2>Time</h2>
            <div class="row">
                <div data-aos="fade-right"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="col-xs-3 no-padding">
                    <img src="images/png/time_ex.png" alt="imgTime">
                </div>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="col-xs-9">
                    <h5>SKT1 telecom</h5>
                    <div class="col-xs-6 no-padding left">
                        <p>Região: <span id="txRegiãoTime">Brasil</span></p>
                    </div>
                    <div class="col-xs-6 no-padding right">
                        <p>Posição: <img id="txPosicaoTime" src="images/svg-icons/mid_lane.svg" alt=""></p>
                    </div>
                    <div class="col-xs-6 no-padding left">
                        <p>Idioma: <span id="txIdiomaTime">PT-BR</span></p>
                    </div>
                    <div class="col-xs-6 no-padding right">
                        <p>Players: <span id="txPlayersTime">3 de 5</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="offset-md-3 col-md-6">
            <button id="btnSair" class="btn-rosa">Sair <i class="material-icons">power_settings_new</i></button>
        </div>
    </div>
</div>