<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Seja Bem-vindo <span>{{nome}}</span></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button id="btnSair" class="btn btn-danger">Sair</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row hidden" id="txResultados">
        <div class="col-md-6 mt-4 text-center">
            <h2>SOLO / DUO</h2>
            <h4 id="txEloSolo">Unranked</h4>
            <h5 id="txPDLSolo">0 PDL</h5>
            <img id="txImgSolo" src="images/base-icons/provisional.png" alt="Tier Icon" class="img-fluid">
            <h4><span id="txVitoriasSolo" class="text-success">0</span>V / <span id="txDerrotasSolo" class="text-danger">0</span>D</h4>
            <h5 class="text-primary">Taxa de vitória de <span id="txMediaSolo" class="">0</span>%</h5>
        </div>
        <div class="col-md-6 mt-4 text-center">
            <h2>FLEX</h2>
            <h4 id="txEloFlex">Unranked</h4>
            <h5 id="txPDLFlex">0 PDL</h5>
            <img id="txImgFlex" src="images/base-icons/provisional.png" alt="Tier Icon" class="img-fluid">
            <h4><span id="txVitoriasFlex" class="text-success">0</span>V / <span id="txDerrotasFlex" class="text-danger">0</span>D</h4>
            <h5 class="text-primary">Taxa de vitória de <span id="txMediaFlex" class="">0</span>%</h5>
        </div>
    </div>
</div>