
<div class="header-perfil">
    <div class="container-fluid">
        <div class="row">
            <div ng-click="abrirPesquisar()" class="col-xs-6 col-xs-offset-3">
                <input type="text" class="form-control search" placeholder="Pesquisar" disabled>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div id="imgShape">
                    
                </div>
                <button id="btn-editar">
                    <i ng-click="editarPerfil()" class="far fa-edit"></i>
                </button>
            </div>
            <div class="col-xs-8 no-padding-left">
                   <h4 id="nomeUsuario"></h4>
                   <p class="sobreUsuario"><span id="txIdade">--</span> <span id="txPais">--</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container body-perfil">
    <div class="row margin-bottom-40">
        <div class="col-xs-12">
            <button ng-click="abrirSetup()" class="btn-verde xs">
                    <i class="fas fa-cog"></i> Setup
            </button>
            <div id="setup" class="hidden">
                <div class="m_content">
                    <div class="h_m">
                        <h3>Setup</h3>
                    </div>
                    <div class="b_m">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>CPU</td>
                                    <td><span id="txCPU">-</span></td>
                                </tr>
                                <tr>
                                    <td>HD</td>
                                    <td><span id="txHD">-</span></td>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td><span id="txRAM">-</span></td>
                                </tr>
                                <tr>
                                    <td>GPU</td>
                                    <td><span id="txGPU">-</span></td>
                                </tr>
                                <tr>
                                    <td>PLACA MÃE</td>
                                    <td><span id="txPLACAMAE">-</span></td>
                                </tr>
                                <tr>
                                    <td>MOUSE</td>
                                    <td><span id="txMOUSE">-</span></td>
                                </tr>
                                <tr>
                                    <td>TECLADO</td>
                                    <td><span id="txTECLADO">-</span></td>
                                </tr>
                                <tr>
                                    <td>FONE</td>
                                    <td><span id="txFONE">-</span></td>
                                </tr>
                                <tr>
                                    <td>MONITOR</td>
                                    <td><span id="txMONITOR">-</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="m_f">
                        <div id="f_m"><button ng-click="fecharSetup()" class="btn-rosa">Fechar</button></div>
                    </div>
                </div>
            </div>
            <div class="social-icons">
                <a id="linkTwitch" target="_blank" href="">
                        <i class="fab fa-twitch"></i>
                </a>
                <a id="linkTwitter" target="_blank" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a id="linkYoutube" target="_blank" href="">
                    <i class="fab fa-youtube"></i>
                </a>
                <a id="linkDiscord" target="_blank" href="">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="tabs-container">
    <div class="tabs-nav">
        <div class="tabs-1">
            League of Legends
        </div>
        <div onclick="aviso('Ainda não implementamos as funcionalidades do Counter-Strike: Global Offensive na nossa plataforma!<br>Continue ligado para mais informações.', 'Ops!', 'Entendi')" class="tabs-2">
            CS
        </div>
        <div onclick="aviso('Ainda não implementamos as funcionalidades do Dota 2 na nossa plataforma!<br>Continue ligado para mais informações.', 'Ops!', 'Entendi')" class="tabs-3">
            DOTA
        </div>
    </div>
</div>
<div class="container-fluid body-perfil">
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Principais Posições</h2>
            <div class="row">
                <div class="col-xs-6">
                    <div data-aos="fade-right"
                    data-aos-easing="ease-in"
                    data-aos-duration="300" id="graphPosicao1">
                    </div>
                </div>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300"
                 class="col-xs-6">
                    <div id="graphPosicao2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Ranqueada Solo/Duo</h2>
        </div>
    </div>
    <div class="row">
        <div data-aos="fade-right"
        data-aos-easing="ease-in"
        data-aos-duration="300"  class="col-xs-4 no-padding">
            <img src="images/tier-icons/bronze_v.png" alt="">
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-8 lol-infos">
            <h2 id="txNickLol">-</h2>
            <h3 id="txLigaLol">-</h3>
            <div class="row kdalp">
                <div class="col-xs-6 left">
                    <p><span id="txKDA">-</span> KDA</p>
                </div>
                <div class="col-xs-6 right">
                    <p><span id="txLP">-</span> LP</p>
                </div>
            </div>
            <div class="row winLoses">
                <div class="col-xs-6 left">
                    <p class="v"><span id="txVitorias">-</span> V</p>
                </div>
                <div class="col-xs-6 right">
                    <p class="d"><span id="txDerrotas">-</span> D</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Estatísticas</h2>
        </div>
    </div>
    <div class="row">
        <div data-aos="fade-right"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_taxavitoria.svg" alt="">
            <p>Taxa de Vitória</p>
            <h2 id="txTaxaVitoria">-%</h2>
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_partidasjogadas.svg" alt="">
            <p>Partidas Jogadas</p>
            <h2 id="txPartidasJogadas">-</h2>
        </div>
    </div>
    <div class="row margin-top-20">
        <div data-aos="fade-right"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_ama.svg" alt="">
            <p>A.M.A</p>
            <h5 id="txAMA">- / - / -</h5>
        </div>
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="col-xs-6 center stats-box">
            <img src="images/svg-icons/icon_taxaama.svg" alt="">
            <p>Taxa A.M.A</p>
            <h2 id="txTaxaAMA">-</h2>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center">
            <h2 class="margin-bottom-20">Highlights</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding">
            <div data-aos="fade-left"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="videos-carousel">
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
                <div>
                    <div class="video-container">
                        <span><i class="fas fa-play"></i></span>
                        <img src="images/jpg/demo_video.jpg" alt="">
                    </div>
                    <p>Lorem Título</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-40">
        <div class="col-xs-12 center time-info">
            <h2>Time</h2>
            <div class="row">
                <div data-aos="fade-right"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="col-xs-3 no-padding-right">
                    <div id="imgTimeShape">
                        
                    </div>
                </div>
                <div data-aos="fade-left"
                data-aos-easing="ease-in"
                data-aos-duration="300" class="col-xs-9">
                    <h5 id="txNomeTime">SKT1 telecom</h5>
                    <div class="col-xs-6 no-padding left">
                        <p>Região: <span id="txRegiãoTime">-</span></p>
                    </div>
                    <div class="col-xs-6 no-padding right">
                        <p>Posição: <img id="txPosicaoTime" src="" alt=""></p>
                    </div>
                    <div class="col-xs-6 no-padding left">
                        <p>Idioma: <span id="txIdiomaTime">-</span></p>
                    </div>
                    <div class="col-xs-6 no-padding right">
                        <p>Players: <span id="txPlayersTime">-</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="offset-md-3 col-md-6">
            <button id="btnSair" class="btn-rosa">Sair <i class="material-icons">power_settings_new</i></button>
        </div>
    </div>
</div>