<div class="header-pesquisar">
    <div class="container">
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <input type="text" id="" placeholder="Pesquisar" class="form-control search">
                <button class="btn-blank">
                        <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-xs-12">
            
        <div class="filtros-pesquisar">
            <div>
                <button class="btn-branco xs">
                    Lorem Ipsum
                </button>
            </div>
            <div>
                <button class="btn-branco xs">
                    Lorem Ipsum
                </button>
            </div>
            <div>
                <button class="btn-branco xs">
                    Lorem Ipsum
                </button>
            </div>
            <div>
                <button class="btn-branco xs">
                    Lorem Ipsum
                </button>
            </div>
        </div>
        </div>
    </div>
</div>