<div class="header-pesquisar">
    <div class="container">
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <input type="text" id="" placeholder="Pesquisar" class="form-control search">
                <button class="btn-blank">
                        <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-xs-12">
            
        <div id="filtros-pesquisar" class="hidden">
            <div>
                <label class="cb-blank">
                    <input type="checkbox">
                    <span class="button">Lorem Ipsum</span>
                </label>
            </div>
            <div>
                <label class="cb-blank">
                    <input type="checkbox">
                    <span class="button">Lorem Ipsum</span>
                </label>
            </div>
            <div>
                <label class="cb-blank">
                    <input type="checkbox">
                    <span class="button">Lorem Ipsum</span>
                </label>
            </div>
            <div>
                <label class="cb-blank">
                    <input type="checkbox">
                    <span class="button">Lorem Ipsum</span>
                </label>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="body-pesquisar">
    <div data-aos="fade-up"
    data-aos-easing="ease-in"
    data-aos-duration="300" class="perfil-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img src="images/svg-icons/perfil_padrao.svg" alt="">
                    <div class="jogos_i">
                        <div>
                            <img src="images/svg-icons/icon_lol.svg" alt="Icone LOL">
                        </div>
                        <div>
                            <img src="images/svg-icons/icon_dota2_d.svg" alt="Icone DOTA">
                        </div>
                        <div>
                            <img src="images/svg-icons/icon_csgo_d.svg" alt="Icone CSGO">
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <h4 class="nick_u">Lorem "nick" Ipsum</h4>
                    <p><span class="idade_u">20 anos</span><span class="loc_u">BR, São Paulo</span></p>
                    
                    <div class="row">
                        <div class="col-xs-6 no-padding-right">
                            <small>Idioma</small>
                            <p class="idiomas">PT-BR, EN, NL</p>
                            <div class="table_u">
                                <div>
                                    <small>Divisão</small>
                                    <p class="divisao">Diamante</p>
                                </div>
                                <div>
                                    <small>Servidor</small>
                                    <p class="servidor">BR</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 no-padding-left">
                            <div class="lanes">
                                <div>
                                    <small>Principal</small>
                                    <br><img src="images/svg-icons/mid_lane.svg" alt="Mid Lane Icon">
                                </div>
                                <div>
                                    <small>Secundária</small>
                                    <br><img src="images/svg-icons/top_lane.svg" alt="Mid Lane Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>