<div class="body-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 margin-top-20 center">
                <img src="images/logo_full.svg" alt="Logo Profile">
            </div>
        </div>
    </div>    
    <div class="carrousel-home margin-top-20">
        <div>
            <div class="noticias">
                <h2><span>Não fique de fora</span> de tudo que está acontecendo no mundo dos e-sports.</h2>
                <button ng-click="acessarNoticias()" class="btn-verde margin-top-10">Acessar Agora</button>
            </div>
        </div>
        <div>
            <div class="reviews">
                <h2>Querendo dar um upgrade?</h2>
                <h5>Sempre vale a pena pesquisar e ler antes de comprar aquele peça ou equipamento novo.</h5>
                <button ng-click="acessarReviews()" class="btn-rosa margin-top-10">Leia Agora</button>
            </div>
        </div>
        <div>
            <div class="interacoes">
                <h2>Duvidas? Sugestões?</h2>
                <h5>Nós da PROFILE queremos muito saber sua opnião!</h5>
                <button ng-click="Interagir()" class="btn-verde margin-bottom-20 margin-top-10">Interaja Conosco</button>
            </div>
        </div>
    </div>
    <div class="container-fluid  no-padding-right">
        <div class="row">
            <div class="col-xs-12 margin-top-30 left">
                <h3>Web-série: <span>PRO_files.mp4</span></h3>
            </div>
        </div> 
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="carrousel-webserie">
            <div>
                <img src="images/jpg/Thumb_Teaser.jpeg" alt="Demo Image">
                <p>Teaser</p>
            </div>
            <div>
                <img src="images/jpg/Thumb_Piloto.jpg" alt="Demo Image">
                <p>Piloto</p>
            </div>
            <div>
                <img src="images/jpg/Thumb_breve.jpg" alt="Demo Image">
                <p>Em Breve</p>
            </div>
            <div>
                <img src="images/jpg/Thumb_breve.jpg" alt="Demo Image">
                <p>Em Breve</p>
            </div>
            <div>
                <img src="images/jpg/Thumb_breve.jpg" alt="Demo Image">
                <p>Em Breve</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div  data-aos="fade-up"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12 box-icones azul">
            <img src="images/svg-icons/home/icon_1.svg" alt="Icone 1">
                <h4>CONHEÇA SEU PROFILE</h4>
                <p>Entenda de modo prático e rápido seu desempenho in-game e tenha sempre de forma atualizada suas estatísticas.</p>
            </div>
        </div>
        <div class="row">
            <div  data-aos="fade-up"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12 box-icones verde">
                <img src="images/svg-icons/home/icon_2.svg" alt="Icone 2">
                <h4>SE TORNE UM PRO</h4>
                <p>Tenha em mãos uma plataforma com diversos de conteúdos e ferramentas para te ajudar a chegar no topo.</p>
            </div>
        </div>
        <div class="row">
            <div  data-aos="fade-up"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12 box-icones rosa">
                <img src="images/svg-icons/home/icon_3.svg" alt="Icone 3">
                <h4>SE DESTAQUE</h4>
                <p>Trabalhamos para criar a forma mais fácil e rápida para que empresas e times se comuniquem e encontrem players classificados.</p>
            </div>
        </div>
    </div>
</div> 