<div class="body-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 margin-top-20 center">
                <img src="images/logo_full.svg" alt="Logo Profile">
            </div>
        </div>
    </div>    
    <div class="carrousel-home margin-top-20">
        <div>
            <img src="images/jpg/demo_video.jpg" alt="Demo Image">
        </div>
        <div>
            <img src="images/jpg/demo_video.jpg" alt="Demo Image">
        </div>
        <div>
            <img src="images/jpg/demo_video.jpg" alt="Demo Image">
        </div>
        <div>
            <img src="images/jpg/demo_video.jpg" alt="Demo Image">
        </div>
    </div>
    <div class="container-fluid  no-padding-right">
        <div class="row">
            <div class="col-xs-12 margin-top-30 left">
                <h3>Web-série: <span>PRO_files.mp4</span></h3>
            </div>
        </div> 
        <div data-aos="fade-left"
        data-aos-easing="ease-in"
        data-aos-duration="300" class="carrousel-webserie">
            <div>
                <img src="images/jpg/demo_video.jpg" alt="Demo Image">
                <p>Piloto</p>
            </div>
            <div>
                <img src="images/jpg/demo_video.jpg" alt="Demo Image">
                <p>Episódio 1</p>
            </div>
            <div>
                <img src="images/jpg/demo_video.jpg" alt="Demo Image">
                <p>Episódio 2</p>
            </div>
            <div>
                <img src="images/jpg/demo_video.jpg" alt="Demo Image">
                <p>Episódio 3</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div  data-aos="fade-up"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12 box-icones azul">
            <img src="images/svg-icons/home/icon_1.svg" alt="Icone 1">
                <h4>CONHEÇA SEU PROFILE</h4>
                <p>Entenda de modo prático e rápido seu desempenho in-game e tenha sempre de forma atualizada suas estatísticas.</p>
            </div>
        </div>
        <div class="row">
            <div  data-aos="fade-up"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12 box-icones verde">
                <img src="images/svg-icons/home/icon_2.svg" alt="Icone 2">
                <h4>SE TORNE UM PRO</h4>
                <p>Tenha em mãos uma plataforma com diversos de conteúdos e ferramentas para te ajudar a chegar no topo.</p>
            </div>
        </div>
        <div class="row">
            <div  data-aos="fade-up"
            data-aos-easing="ease-in"
            data-aos-duration="300" class="col-xs-12 box-icones rosa">
                <img src="images/svg-icons/home/icon_3.svg" alt="Icone 3">
                <h4>SE DESTAQUE</h4>
                <p>Trabalhamos para criar a forma mais fácil e rápida para que empresas e times se comuniquem e encontrem players classificados.</p>
            </div>
        </div>
    </div>
</div> 