<div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Login</label>
                            <input type="text" class="form-control" id="txLogin" placeholder="Insira seu Login">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="email" class="form-control" id="txEmail" placeholder="Insira sua E-mail">
                        </div>
                        <div class="form-group">
                            <label for="txSenha">Senha</label>
                            <input type="password" class="form-control" id="txSenha" placeholder="Insira sua Senha">
                        </div>
                        <button id="btnConsultar" class="btn btn-primary">Submit</button>
                    </form> 
            </div>
        </div>
    </div>